{% extends 'base.html' %}
{% block contenido %}

<div class="container  d-flex justify-content-center align-items-center" style="">
    <div class="card shadow-lg p-4 rounded-4 col-12  bg-success-subtle col-md-8 col-lg-6">
        
        <h2 class="text-center mb-4 fw-bold">Buscar Recetas Saludables</h2>

        <form class="row g-3" action="{{ url_for('buscar_recetas') }}" method="POST">
            
            <div class="col-12">
                <label class="form-label fw-semibold">Escribe un ingrediente o una receta:</label>
                <input 
                    type="text" 
                    class="form-control form-control-lg rounded-3" 
                    id="receta" 
                    name="receta" 
                    placeholder="Ejemplo: pollo, avena, ensalada…" 
                    required
                >
            </div>

            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success btn-lg rounded-3 px-5">
                    🔍 Buscar
                </button>
            </div>

        </form>

    </div>
</div>

{% endblock %}
